@media only screen and (max-width:1024px) {
    .img-box>img {
        margin-left: 7%;
        margin-top: 1px;
        margin-bottom: 10px;
    }
    .img-box {
        border: 1px solid rgba(187, 193, 194, 0.36);
        width: 50%;
        border-radius: 5px;
        position: absolute;
        flex-wrap: nowrap;

        top: 180%;
        left: 8%;
        width: 48% !important;
    }
    /* NAVIGATION BAR STARTS */
    .navbar {
        margin: 0%;
        padding: 8px 15% 8px 10% !important;
        box-shadow: 2px 1px 2px gray;
    }
    .navbar>ul {
        display: inline-flex;
    }
    .categories {
        border: none;
        font-size: 14px;
        font-weight: bold;
        color: #002f34;
        line-height: 16.1px;
        outline: none;
    }
    .list>li {
        list-style-type: none;
        margin: 0px 10px;
        font-size: 14px;
        font-weight: 500;
        color: #002f34;
        flex-wrap: wrap;
    }
    .list>li:hover {
        color: #29a59f;
        cursor: pointer;
    }
    /* NAVIGATION BAR ENDS */
    /* left  */
    .details-tag {
        border: 2px solid transparent;
        display: inline-block;
        position: absolute;
        height: 420px !important;
        width: 48% !important;
        top: 210%;
        left: 07%;
    }
    /* right  */
    .contact>img {
        display: inline-flex;
        height: 60px;
        width: 60px;
    }
    .locimg>img {
        width: 68%;
    }
    .locimg>.img {
        display: block;
        margin-left: 50px;
        margin-right: 50px;
        width: 50%;
    }
}

@media only screen and (max-width:768px) {
    /* NAVIGATION BAR STARTS */
    .navbar {
        margin: 0%;
        padding: 8px 10% 8px 9% !important;
        box-shadow: 2px 1px 2px gray;
    }
    .ad1 {
        position: absolute;
        left: 25%;
        height: 130px;
        width: 50%;
    }
    .navbar>ul {
        display: inline-flex;
    }
    .categories {
        border: none;
        font-size: 14px;
        font-weight: bold;
        color: #002f34;
        line-height: 16.1px;
        outline: none;
    }
    .list>li {
        list-style-type: none;
        margin: 0px 7px;
        font-size: 14px;
        font-weight: 500;
        color: #002f34;
        flex-wrap: wrap;
    }
    .list>li:hover {
        color: #29a59f;
        cursor: pointer;
    }
    /* NAVIGATION BAR ENDS */
    /* footer  */
    .footer {
        border: 0.5px solid rgb(197, 196, 196);
        position: absolute;
        top: 440%;
        width: 100%;
        display: inline-flex;
        cursor: pointer;
        background-color: #ebeeef;
        color: #002f34;
        justify-content: space-around;
    }
    section {
        padding: 7px;
        margin: 0px 40px;
    }
    section>h1 {
        font-weight: bold;
        font-size: 20px;
    }
    ul>li {
        list-style-type: none;
        margin: 0px -30px;
    }
    /* footer ends */
    /* slider  */
    #carouselExampleFade {
        height: 420px !important;
        width: 80% !important;
        margin: 0px 120px !important;
        border-radius: 7px !important;
        overflow: hidden !important;
        position: absolute;
        left: -3%;
        top: 100%;
    }
    .img-box {
        border: 1px solid transparent;
        border-radius: 5px;
        position: absolute;
        flex-wrap: nowrap;
        top: 190%;
        left: 15%;
        width: 70% !important;
    }
    .details-tag {
        border: 2px solid transparent;
        display: inline-block;
        position: absolute;
        height: 600px !important;
        overflow-y: hidden;
        width: 48% !important;
        top: 300%;
        left: 13%;
    }
    /* RIGHT COLUMN STARTS */
    .sider {
        border: 2px solid transparent;
        padding: 10px;
        overflow: hidden;
        width: 55.75%;
        height: 180px;
        padding: 12px;
        position: absolute;
        top: 210%;
        left: 14%;
        border-radius: 4px;
    }
    h6 {
        text-align: right;
    }
    .hd {
        font-family: font1;
        color: #002f34;
    }
    .hd-2 {
        font-weight: bold;
        font-size: 20px;
    }
    .hd-3.hd-3, .hd-4 {
        font-weight: 400;
        font-size: 22px;
    }
    .locimg>img {
        margin: 5px 10px 5px 24px;
        width: 68%;
    }
    .locimg>.img {
        display: block;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        width: 20%;
    }
    .contact {
        border: 2px solid transparent;
        display: inline-block;
        position: absolute;
        left: 14%;
        padding: 12px;
        top: 250%;
        width: 50.75%;
        height: 195px;
        border-radius: 4px;
    }
    .contact>img {
        display: inline-flex;
        height: 75px;
        width: 75px;
    }
    .heading>h3 {
        font-weight: bold;
        font-size: 30px;
        text-decoration: underline;
    }
    .name1 {
        display: inline-block;
    }
    .name1>p {
        font-size: 17px;
    }
    .name {
        font-weight: bold !important;
        font-size: 24px;
        align-items: center;
    }
    .btn1 {
        background: #002f34;
        color: #ffff;
        width: 90%;
        height: 20%;
        outline: none;
        border: none;
        border-radius: 4px;
        margin: 0% 15px;
    }
    .btn1:hover {
        border: 5px solid #002f34;
        background-color: white;
        color: #002f34;
    }
    .locimg {
        height: 200px;
        position: absolute;
        left: 60%;
        bottom: -159%;
    }
    .locimg>img {
        width: 84%;
    }
    .locimg>.img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    /* RIGHT COLUMN ENDS */
}
